

::-webkit-scrollbar {
    width: 13px;

}
::-webkit-scrollbar-track{
    background: #6a99ff;
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}